<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>goodsMangerName</key>
		<string>商品管理</string>
		<key>imageArray</key>
		<array>
			<string>menu1</string>
			<string>menu2</string>
			<string>menu3</string>
			<string>menu4</string>
		</array>
		<key>nameArray</key>
		<array>
			<string>商品管理</string>
			<string>分类管理</string>
			<string>新增商品</string>
			<string>新增分类</string>
		</array>
	</dict>
	<dict>
		<key>goodsMangerName</key>
		<string>订单管理</string>
		<key>imageArray</key>
		<array>
			<string>menu5</string>
			<string>menu6</string>
			<string>menu7</string>
			<string>menu8</string>
		</array>
	</dict>
	<dict>
		<key>goodsMangerName</key>
		<string>活动管理</string>
		<key>imageArray</key>
		<array>
			<string>menu9</string>
			<string>menu10</string>
			<string>nemu11</string>
			<string>nemu12</string>
		</array>
		<key>nameArray</key>
		<array>
			<string>未开始</string>
			<string>进行中</string>
			<string>已结束</string>
			<string>新增活动</string>
		</array>
	</dict>
	<dict>
		<key>goodsMangerName</key>
		<string>评论管理</string>
		<key>imageArray</key>
		<array>
			<string>menu13</string>
			<string>menu14</string>
			<string>menu15</string>
		</array>
		<key>nameArray</key>
		<array>
			<string>未回复</string>
			<string>差评</string>
			<string>全部评论</string>
		</array>
	</dict>
	<dict>
		<key>goodsMangerName</key>
		<string>功能管理</string>
		<key>imageArray</key>
		<array>
			<string>menu16</string>
			<string>menu17</string>
			<string>menu18</string>
			<string>menu19</string>
			<string>menu20</string>
			<string>menu21</string>
			<string>menu22</string>
			<string>menu23</string>
		</array>
	</dict>
</array>
</plist>
